
<div style="background-image: url('https://firebasestorage.googleapis.com/v0/b/sofiane-5a3d8.appspot.com/o/computer-1149148_960_2.jpg?alt=media&token=b680c0dc-e663-46f1-ac24-5a93e00d1309');
    height: 665.5px;
    margin-top: -4%;
    background-repeat: round;
">


  <div class="modal-dialog" style="
    margin-top: 0px;
    height: 545px;">
    <br>
    <br>
    <br><br><br>
    <div class="modal-content" style="width: 68%;
    margin-left: 12%;">
      <div class="modal-header">
        <h4 class="modal-title" id="signinLabel" style="text-align: center ; font-size: large;">Réinitialiser le mot de passe
        </h4>
      </div>
      <div class="modal-body">
        <form >
          <div class="form-group">
            <input #mail type="text" placeholder="Adresse mail" class="form-control" autocomplete="on" required>
          </div>

          <div class="form-group">
            <div class="btn-group-justified">
              <button class="btn btn-lg btn-green" (click)="mailer(mail.value)" style="width: 100%">Envoyer</button>
            </div>
          </div>
          <p class="help-block"> <a [routerLink]="['/login']"  class="modal-su text-green">Retour</a></p>
        </form>
      </div>
    </div>
    <div *ngIf="error[0]" class="alert alert-danger" role="alert" style="width: 68%;
    margin-left: 74px;
    margin-top: 8px;
    background-color: #bb2e2e;
    color: white;">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{error[0]}}
    </div>
    <div *ngIf="valid[0]" class="alert alert-danger" role="alert" style="width: 68%;
    margin-left: 74px;
    margin-top: 8px;
    background-color: #56bb55;
    color: white;">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      {{valid[0]}}
    </div>

  </div>
</div>
