
<div class="job">
<div id="header" class="container-fluid home">
    <div class="row">
        <div class="header_banner">

        </div>
        <!-- Header Image Or May be Slider-->


        <div class="jobs_filters">
            <div class="container">
                <form class="" action="http://deximlabs.com/dexjobs/index.html">

                    <!--col-lg-3 filter_width -->

                    <!-- col-lg-5 filter_width -->
                    <div class="col-lg-10 col-md-7 col-sm-6 col-xs-12 filter_width bgicon" style="margin-left: 5%;">
                        <div class="form-group">
                            <input type="text" class="form-control"  #search  (keyup)="0"  placeholder="Mot-clé, le titre du poste ou compétences">
                        </div>
                        <span>e.g. Medecin..</span>


                    </div>
                    <!-- col-lg-5 filter_width -->
                    <div class="col-lg-1 col-md-2 col-sm-6 col-xs-12 filter_width bgicon submit" style="margin-left: -35px;">
                        <div class="form-group">
                            <input type="submit" class="customsubmit" name="submit" value="Search"/>
                            <span class="glyphicon fa fa-search" aria-hidden="true"></span>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Header Section -->
<!--maine container Section -->
<div class="container main-container-home">
  <div *ngIf="loader" class="loader" id="loader-1" style="margin-top: 4%"></div>
    <div class="jobs_results">

        <!-- Filters Category -->
        <div class="jobs-result">
            <!--Search Result 01-->
            <div class="col-lg-12">

                <div class="filter-result 01" *ngFor="let docc of destinations | searchFilter: search.value">
                    <div class="col-lg-9 col-md-7 col-sm-9 col-xs-12 pull-left">
                        <div class="company-left-info pull-left">
                            <img src="{{ (get_company(docc.cid) | async)?.avatar }}"  style="width: 60px;border-radius: 100%;" alt="Photo" />
                        </div>
                        <div class="desig">
                            <a><h3 style="    color: #e23775;">{{docc.poste}}</h3></a>
                            <h4 style="color: #6f6f6f;">{{ (get_company(docc.cid) | async)?.name }} | Publier le {{ docc.date*-1 | date:"dd/MM/yy hh:mm a" }}</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-8 col-xs-12 pull-right">
                        <div class="data-job">
                            <span [routerLink]="['/jdetail',docc.key]" class="label job-type job-fulltime" style="cursor: pointer;padding: 13px 15px;">Voir Détails</span>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

            </div>
            <!--Search Result 01-->
        </div>
    </div>

</div>
<!--main container Section -->
<!---full width sectio fulid-->
</div>
