
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<div class="nbar">
  <nav class="navbar navbar-default navbar-fixed-top menu">
    <div class="container">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index-register.html"><img src=".\src\app\nav\logo.png" alt="logo" style="
    margin-left: 4pc;
"/></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right main-menu">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-home"></i> &nbsp;Home </a>

          </li>
          <li class="dropdown">
            <a href="/profile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> &nbsp;Profil</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-comments"></i> &nbsp;Messagerie</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell"></i>&nbsp; Notification</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-briefcase"></i> &nbsp;Job Offers</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-th-list" aria-hidden="true"></i>&nbsp; Plus <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu page-list" >
              <li>
                <a class="active" href="#">
                  <i class="fa fa-users" aria-hidden="true"></i> &nbsp;Forum
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-user-plus" aria-hidden="true"></i> &nbsp; Amis
                </a>
              </li>

              <li>
                <a href="#">
                  <i class="fa fa-users" aria-hidden="true"></i>&nbsp; Groupes
                </a>
              </li>

              <li>
                <a href="#">
                  <i class="fa fa-calendar" aria-hidden="true"></i> &nbsp; Evenement
                </a>
              </li>

              <li>
                <a href="#">
                  <i class="fa fa-file-text" aria-hidden="true"></i> &nbsp; Document
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-hospital-o" aria-hidden="true"></i> &nbsp; Entreprise
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i> &nbsp;Account <b><i class="fa fa-angle-down"></i></b></a>
            <ul class="dropdown-menu page-list" >
              <li>
                <a href="#"> <i class="fa fa-lock"></i> &nbsp;Change Password</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-times-circle" aria-hidden="true"></i> &nbsp;Disable Account</a>
              </li>

              <li>
                <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> &nbsp;Log out</a>
              </li>

            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-right hidden-sm">
          <div class="form-group">
            <i class="icon ion-android-search"></i>
            <input type="text" class="form-control" placeholder="Rechercher des amis">
          </div>
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
</div>
