
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div *ngIf="loader" class="loader" id="loader-1" style="    margin-top: 20%;"> </div>
<div *ngIf="!loader">
  <div class="profile">

    <!--==========================================
                     HEADER
    ===========================================-->
    <div class="row">
      <div class="col-md-12" style="
    padding-left: 0px;
    padding-right: 0px;
">
        <div *ngFor="let cov of user | async"  id="header" class="shadow" style="overflow: hidden">
          <!-- Navigation -->


          <!-- Name and Status -->
          <div  *ngIf="charg[0]==true" id="intro" class="container" style="margin-bottom: 24%">

            <div>
              <div class="blob blob-0"></div>
              <div class="blob blob-1"></div>
              <div class="blob blob-2"></div>
              <div class="blob blob-3"></div>
              <div class="blob blob-4"></div>
              <div class="blob blob-5"></div>
            </div>

          </div>
          <div  *ngIf="charg[0]!=true" id="intro" class="container"  >
            <img class="background" src="{{cov.cover}}" default="https://firebasestorage.googleapis.com/v0/b/sofiane-5a3d8.appspot.com/o/cover.jpg?alt=media&token=7a6ddfdb-985d-444a-9876-127b68a1e484" style="z-index: 1;margin-left: -17%;margin-top: -2%;" >


          </div>
        </div>

      </div>

      <!--==========================================
                     ABOUT
      ===========================================-->
      <section id="about" class="section">
        <div class="container">
          <div class="row">
            <div class="col col-xs-12 col-sm-12 col-md-12 text-center">

              <!-- Profile Picture [Square] -->
              <div  *ngFor="let ava of user | async" class="contain">
                <div id="profile" class="center-block">
                  <img src="{{ava.avatar}}"  default="https://firebasestorage.googleapis.com/v0/b/sofiane-5a3d8.appspot.com/o/user.png?alt=media&token=a577b7b6-02bb-4515-bc85-7743403854bd" style="
    z-index: 2;
    margin-bottom: -6pc;
">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Download & Contact Button -->
            <div class="col col-xs-12 col-sm-12 col-md-12 text-center">
              <!-- Social Links -->
              <div id="intro-div" class="card content-wrapper">

                <div *ngFor="let users of user | async">
                  <ul class="text-center list-inline">

                    <div style="font-size: 1.7em; margin-top: -5%;"> {{users.name | titlecase}}<br> {{users.spec | titlecase}}
                    </div>
                  </ul>



                </div>


                <!-- Your CV File -->
                <a [routerLink]="['/ncjob',current]" class="btn waves-effect waves-light btn-primary custom-btn" style="width: 21.5%;">Voir les offres d’emploi</a>
              </div>
            </div>

          </div>

        </div>
      </section>

      <section  class="section" style="margin-top: -4pc;">
        <div class="container">
          <div class="row">
            <div class="col col-xs-12 col-sm-12 col-md-12 text-center">

              <!-- Profile Picture [Square] -->
            </div>
          </div>
          <div class="row">
            <!-- Download & Contact Button -->
            <div class="col col-xs-12 col-sm-12 col-md-12 text-center">
              <!-- Social Links -->
              <div class="card content-wrapper">


                <div *ngFor="let users of user | async">
                  <h5 style="text-align: start;">Adress</h5>
                  <p style="text-align: start;">{{users.adr | titlecase}}</p>
                  <h5 style="text-align: start;">Téléphone</h5>
                  <p style="text-align: start;">{{users.tel}}</p>
                  <h5 style="text-align: start;">Site Web</h5>
                  <p style="text-align: start;"><a target="_blank" href="http://{{users.site}}" style="cursor: pointer">{{users.site}}</a></p>
                  <h5 style="text-align: start;">Déscription</h5>
                  <!-- Some Intro About You -->
                  <p style="text-align: start;">
                    {{users.desc}}


                  </p>

                </div>
              </div>
            </div>

          </div>

        </div>
      </section>







      <!--==========================================
                  CONTACT
      ===========================================-->
      <section id="contact" class="section" style="display: none;">

        <div class="container">


          <!-- Location MAP -->
          <div class="row">
            <div class="col col-md-12 col-sm-12 col-xs-12">
              <div id="google-map" data-aos="zoom-in" data-aos-delay="0" data-aos-offset="0">
                <div id="map-container"></div>

                <!-- Your address here -->

              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- Back To Top Button -->
      <a href="#header" id="btp" class="back-to-top btn-floating waves-effect waves-light btn-large custom-btn">
        <i class="ion-ios-arrow-up"></i>
      </a>


    </div>




  </div>



